/* Modify text font-size and alignment */
.google-visualization-table-table {
	width:100%;
	text-align:right;
	font-size:12pt!important;
}
/* Center All Filters */

#controlersPanel {
	text-align: center;
}

<style>
@import url('https://fonts.googleapis.com/css?family=Lato');
</style>

@font-face{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  

/* Apply the new font */
body, td, div, span, p {
  font-family: "titling-gothic-condensed"!important;
}
